@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Music Store</h1>
    <h2>Donde esta la mejor musica</h2>
    <img src="" alt="">  
   
</div>
@foreach (Disco item in ViewBag.catalogo.Values)
{
<div>
    <h3>@ViewBag.item.titulo</h3>
    <img src="@ViewBag.item.foto" >
    <h5>Artista: @ViewBag.item.Artista</h5>
    <h5>Productor: @ViewBag.item.productor</h5>
    <h5>Genero: @ViewBag.item.generoMusical</h5>
   <a href='@Url.Action("selectDisco","Home", new {ID=@item.ID})'>Datos Disco</a>
 </div>

}
