@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Music Store</h1>
    <h2>Donde esta la mejor musica</h2>
    <img src="/Imagenes/logo.png" alt="">  
   
</div>
@foreach (Disco item in ViewBag.catalogo.Values)
{
<div>
    <h3>@item.titulo</h3>
    <img src="/Imagenes/@item.foto" >
    <h5>Artista: @item.Artista</h5>
    <h5>Productor: @item.productor</h5>
    <h5>Genero: @item.generoMusical</h5>
   <a href='@Url.Action("selectDisco","Home", new {ID=@item.ID})'>Datos Disco</a>
 </div>

}
