@using tp03.Models
@{
    ViewData["Title"] = "InfoDisco";
}
<div>

    <h1>@ViewBag.Disco.titulo</h1>
    <p>Artista: @ViewBag.Disco.Artista</p>
    <p>Genero: @ViewBag.Disco.generoMusical</p>
    <p>Productor: @ViewBag.Disco.productor</p>
    <img src="/Imagenes/@ViewBag.Disco.foto" alt="">
   

</div>
<div>
    <h1>Listado de temas</h1>
    @for (int i = 0; i < ViewBag.Disco.Temas.Count; i++)
    {
       <p>@ViewBag.Disco.Temas[i]</p>
    }
</div>
<a href = '@Url.Action("Index", "Home")'>Volver </a>


